/* regole generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header*/

.up {
    width: 100%;
    background-color: white;
    border-bottom: solid 1px gray;
    min-height: 90px;
    position: fixed;
    margin-top: 0;
    z-index: 999;
}
.up img {
    max-width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}
.up span {
    color: rgb(68, 66, 66);
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.bar ul li {
    display: inline-block;
    margin-left: 30px;
}

.bar ul li a {
    text-decoration: none;
    color: rgb(68, 66, 66);
}

.bar ul li a:hover {
    color: blue;
}

/* regole main*/

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
    margin-top: 100px;
}

.domanda {
    margin: 40px 0px;
}

.risposta {
    color: rgb(56, 54, 54);
    margin: 5px 0px;
}

/* regole footer*/

footer {
    margin-top: 30px;
    width: 100%;
    min-height: 80px;
    background-color: #d6d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center li {
    display: inline-block;
}
.center a {
    text-decoration: none;
    color: gray;
    margin: 0px 5px;
}