/* regole generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header*/

.up {
    border-bottom: solid 1px gray;
    min-height: 90px;
}
.up img {
    max-width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}
.up span {
    color: rgb(68, 66, 66);
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.bar ul li {
    display: inline-block;
    margin-left: 30px;
}

.bar ul li a {
    text-decoration: none;
    color: rgb(68, 66, 66);
}

.bar ul li a:hover {
    color: blue;
}

/* regole main*/

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}